/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
/* Variabel */
:root {
  /* Color */
  --bg-section: #f7eddb;
  --second: #dae2b6;
  --main: #dfe8cc;
  --font-main: #100000;
  --font-second: #16213e;
  --padding-mobile: 2rem;

  /*========== Font and typography ==========*/
  --body-font: "Open Sans", sans-serif;
  --title-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  /* ================ Shadow ============== */
  --shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.56);
  --shadow-hover: 1px 1px 38px -10px rgba(0, 0, 0, 0.73);
}

/* Clear */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans, Roboto", sans-serif;
}

.change-theme,
.change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

button,
input {
  border: none;
}
button {
  cursor: pointer;
}
input {
  outline: none;
}
.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section__title {
  font-size: 3.5rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.container {
  max-width: 1024px;
  padding-left: 1rem;
  margin: 0 auto;
  padding-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ================================= Header ===================================*/

.header {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

.nav__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  justify-items: space-between;
  gap: 1rem;
}

.logo-title {
  font-weight: bold;
}

.logo-item {
  padding: 0.75rem 1rem;
  background-color: var(--brown);
  border-radius: 15px;
  font-weight: bold;
}
.nav__toggle,
.nav__close {
  display: none;
}
.menu-icon {
  font-size: 2rem;
}

.nav__menu {
  display: flex;
  justify-self: space-between;
  align-items: center;
  gap: 2rem;
}

.nav__lists {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

.nav__lists-item a {
  font-weight: 500;
}

.nav__lists-item a:hover {
  color: var(--brown);
}

.btn__login a {
  background-color: var(--brown);
  padding: 0.75rem 1rem;
  border-radius: 20px;
  color: #fff;
}
.btn__login a:hover {
  color: var(--black);
}

/* ========================================= Main ===================================== */

/* ========================================= Aside ====================================== */
aside {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  justify-items: center;
  align-items: center;
}

.wrapper__profile {
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.title__profile {
  font-size: larger;
}

.img__profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* ==================================================== Hero Section ============================================= */
.hero__container {
  position: relative;
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__wrapper-item {
  position: absolute;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  text-align: start;
}
.hero__item {
  background-color: var(--bg-section);
  font-size: 1.25rem;
  padding: 1.5rem;
}

/* ============================================ Web design ================================================== */
.web {
  margin-top: 5rem;
}
.web__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.web__profile {
  display: inline;
  width: 50%;
  position: relative;
  align-items: flex-start;
}

.web__profile-detail {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.web__profile-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.web__profile-name {
  display: inline-block;
  color: #000;
}

.name-title {
  font-size: 20px;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.name-job {
  font-size: 14px;
  opacity: 0.6;
}
.web__profile-img {
  max-width: 80%;
  position: absolute;
  overflow: hidden;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

.img-view {
  object-fit: cover;
  object-position: center;
  transition: 0.4s;
}
.img-view:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.web__item {
  width: 50%;
  display: inline;
  align-items: flex-start;
  margin-bottom: 2rem;
  color: #000;
}

.web__item-title {
  font-size: 5rem;
  color: #000;
  margin-bottom: 3rem;
}

.web__item-desc {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.6;
  margin-bottom: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.web__item-btn {
  padding: 0.75rem 1rem;
  color: #000;
  transition: 0.4s;
  font-weight: bold;
}
.web__item-btn:hover {
  padding: 0.75rem 1rem;
  color: #000;
  font-weight: bold;
}

/* =============================== Marketing Section =====================================*/
.marketing {
  background-color: var(--semi-black);
  color: #fff;
}

.marketing__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.marketing__profile {
  display: inline;
  width: 50%;
  margin-left: 6rem;
  position: relative;
  align-items: flex-start;
}

.marketing__profile-detail {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.marketing__profile-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.marketing__profile-name {
  display: inline-block;
  color: #fff;
}

/* .name-title {
  font-size: 20px;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.name-job {
  font-size: 14px;
  opacity: 0.6;
} */
.marketing__profile-img {
  max-width: 80%;
  position: absolute;
  overflow: hidden;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

/* .img-view {
  object-fit: cover;
  object-position: center;
  transition: 0.4s;
}
.img-view:hover {
  cursor: pointer;
  transform: scale(1.1);
} */

.marketing__item {
  width: 50%;
  display: inline;
  align-items: flex-start;
  margin-bottom: 2rem;
  color: #fff;
}

.marketing__item-title {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 3rem;
}

.marketing__item-desc {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.6;
  margin-bottom: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marketing__item-btn {
  padding: 0.75rem 1rem;
  background-color: #fff;
  color: var(--black);
  transition: 0.4s;
  font-weight: bold;
}
.marketing__item-btn:hover {
  padding: 0.75rem 1rem;
  color: #fff;
  background-color: var(--semi-grey);
  font-weight: bold;
}
